<div class="modal fade" id="modal-config" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Настройки</h5>
              <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container shadow">
                    <form>
                        <hr class="hr-xs">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                                <input type="password" class="form-control" placeholder="Текущий пароль" id="old-password" autocomplete="new-password">
                            </div>
                        </div>
                        <hr class="hr-xs">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                                <input type="password" class="form-control" placeholder="Новый суперпароль" id="new-password">
                            </div>
                        </div>
                        <hr class="hr-xs">
                        <button class="btn btn-primary btn-block">Сохранить</button>
                        <hr class="hr-xs">
                    </form>
                </div>
                
            </div>
        </div>
      
    </div>
</div>