<div class="container">
    <div class="modal-header gallery-buttons">
        <h1 class="album-title" id="gallery-title">{{.AlbumTitle}}</h1>
        <button type="button" class="btn-close bg-dark" href="javascript:void(0);" onclick="GoBack();" aria-label="Close"></button>
    </div>
    <div class="row" id="imgs-grid">
        {{range .Image}}
        <div class="col-md-3 col-sm-4 col-xs-6 thumb">
            <a class="caption-link" data-fancybox="gallery" href="#" data-title="{{.Title}}" data-description="{{.Description}}">
                <img class="img-responsive" src="{{.Name}}" data-description="{{.Description}}">
            </a>
        </div>
        {{end}}
    </div>
    <br>
    <div class="gallery-buttons">
        <a role="button" class="btn btn-dark card-btn shadow" href="javascript:void(0);" onclick="ScrollToTop();" style="align-self: flex-end;">Наверх</a>
        <a role="button" class="btn btn-dark card-btn shadow" href="javascript:void(0);" onclick="GoBack();" style="align-self: flex-end;">Назад к списку альбомов</a>
    </div>
    <br>
</div>